* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  text-align: center;
}

textarea {
  font-size: 20px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: -1px 1px 20px 1px black;
}

button {
  display: block;
  margin: auto;
  width: 170px;
  height: 50px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: inset 1px -2px 7px 1px black;
}

button:hover {
  background-color: black;
  color: white;
}
